@import "tailwindcss";
@import "tw-animate-css";
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 0.625rem;
  --background: theme("colors.neutral.100");
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: theme("colors.neutral.200");
  --secondary-hover: theme("colors.neutral.300");
  --secondary-foreground: theme("colors.neutral.900");
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: theme("colors.neutral.200");
  --ring: oklch(0.708 0 0);
  --badge-icon: theme("colors.neutral.400");
  --badge-icon-hover: theme("colors.neutral.500");

  --settings-background: theme("colors.neutral.600");
  --settings-foreground: theme("colors.neutral.300");
  --settings-primary: theme("colors.neutral.500");
  --settings-secondary: theme("colors.neutral.500");
  --settings-accent: theme("colors.neutral.400");

  --textarea: theme("colors.neutral.200");

  --brand-foreground: theme("colors.neutral.50");
  --brand-1-lite: theme("colors.emerald-400");
  --brand-2-lite: theme("colors.sky.600");
  --brand-1: theme("colors.emerald.400");
  --brand-2: theme("colors.sky.500");
  --brand-1-darker: theme("colors.emerald.300");

  --correct: theme("colors.lime.500");
  --incorrect: theme("colors.red.600");

  --toast-foreground: theme("colors.neutral.50");
}

/*
  ---break---
*/

@theme inline {
  --color-brand-foreground: var(--brand-foreground);
  --color-brand-1-lite: var(--brand-1-lite);
  --color-brand-2-lite: var(--brand-2-lite);
  --color-brand-1: var(--brand-1);
  --color-brand-2: var(--brand-2);
  --color-brand-1-darker: var(--brand-1-darker);

  --color-correct: var(--correct);
  --color-incorrect: var(--incorrect);

  --color-textarea: var(--textarea);

  --color-settings-background: var(--settings-background);
  --color-settings-foreground: var(--settings-foreground);
  --color-settings-primary: var(--settings-primary);
  --color-settings-secondary: var(--settings-secondary);
  --color-settings-accent: var(--settings-accent);

  --color-badge-icon: var(--badge-icon);
  --color-badge-icon-hover: var(--badge-icon-hover);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

/*
  ---break---
*/

.dark {
  --background: hsl(0, 0%, 12%);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: theme("colors.neutral.700");
  --secondary-hover: theme("colors.neutral.600");
  --secondary-foreground: theme("colors.neutral.50");
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: theme("colors.neutral.600");
  --ring: oklch(0.556 0 0);
  --textarea: theme("colors.neutral.950");
  --badge-icon-hover: theme("colors.neutral.200");
  --correct: theme("colors.lime.400");
  --incorrect: theme("colors.red.500");
  --toast-foreground: theme("colors.neutral.800");
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
